intent-markup-java/src/main/resources/intent-markup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="markup" type="markupType"/>
  <xs:complexType name="markupType" mixed="true">
    <xs:choice minOccurs="0">
      <xs:element name="intent" type="intentType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="mustType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="fuzzy"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="intentType" mixed="true">
    <xs:sequence>
      <xs:element type="mustType" name="must" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="autocomplete"/>
  </xs:complexType>
</xs:schema>